CMakeLists.txt
build/
Makefile
.vscode/
# L333/  bien no queremos que se actualice, pero que se queden las versiones anteriores porque son el dataset como tal
main.o
# *.png
DnCNN/
SegmentacionMedica*
mi_app
